.container {
  display: flex;
  flex-direction: column;
  width: 640px;
  height: 620px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 122px;
}

.orderNumber {
  text-align: center;
}

.burgerName {
  text-align: start;
}

.status {
  text-align: start;
  color: var(--interface-success, #0cc);
}
