.container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
  flex-flow: row-reverse nowrap;
  width: 568px;
}

.dragging {
  opacity: 0.5;
}
